.Header{
    position: absolute;
    
    width: 100%;
    
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    z-index: 1;

}

.Header_SearchBar{
    color : white !important;
}

.Header_logo{
    
    font-size: 20px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    color : white;
    width: 5vmax;
    display: flex;
    justify-content: center;

    animation: 0.5s wide ease-in-out;
}

.Header_Cover{
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),url('../public/pic/headercover.png');
    
    flex-direction: column;
    
    width: 100%;
    height: 40vmax;

    background-repeat: no-repeat;
    background-size: cover;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    color: white;

    z-index: 0;

    
}

@keyframes wide{
    0%{
        transform: scale(0.5);
    }
    100%{
        transform: scale(1);
    }
}

.Header_Cover_SearchBar{
    color: white !important;
    background-color: rgba($color: #000000, $alpha: 0.2);

    width: 50vw;

    animation: 1s wide ease-in-out;
}

.Login_Button{
    color: gray !important;
    border:1px solid gray !important;

    &:hover{
        color: white!important;
        border-color: white !important;
    }
}

.Header_Menu{
    color: white ;
    
    &:hover{
        color: rgba($color: #000000, $alpha: 0.5);
    }

}